*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**************************
          GENERAL 
 *************************/
body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #141922;
}

header{
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0,0, 0.5);
    position: fixed;
    top:0
}

.menu-vertical{
    display: block;
    position: fixed;
    left: 0;
    background-color: black;
    width: 220px;
    height: 100vh;
    font-weight: bold;
}

main{
    padding-top: 88px;
    margin-left: 220px;
    margin-bottom: 90px;
}

footer{
    background-color: #282828;
    height: 90px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.container{
    margin-top: 30px;

}

.row{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

h2{
    font-size: 25px;
    color: white;
}

/**************************
          HEADER 
 *************************/
 .btn-head{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
 }

 .btn-head span{
    font-weight: bold;
    font-size: 12px;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    padding:11px 40px 10px 40px;
    margin-right: 20px;
 }

 .btn-head span:hover{
    background-color: greenyellow;
    color: black;
    padding: 15px 45px 14px 45px;
}
 
/**************************
        MENU VERTICAL 
 *************************/

 /* GENERIC MENU VERTICAL */
.internal-vertical{
    margin: 20px;
}

.internal-vertical img{
    vertical-align: middle;
}

/* ######################## */

.home{
    margin-bottom: 8px;
}
.search{
    margin-bottom: 8px;
}
.library{
    margin-bottom: 18px;
}

.search img{
    width: 12%;
    filter: invert(30%) sepia(7%) saturate(6%) 
    hue-rotate(19deg) brightness(93%) contrast(90%);
}

.library img{
    width: 12%;
    filter: invert(30%) sepia(7%) saturate(6%) 
    hue-rotate(19deg) brightness(93%) contrast(90%);
}

.home img{
    width: 12%;
    filter: invert(30%) sepia(7%) saturate(6%) 
    hue-rotate(19deg) brightness(93%) contrast(90%);
}
.logo img{
    width: 70%;
    margin-bottom: 20px;
}

.internal-superior span{
    font-size: 14px;
    color:#4D4D4D;
    text-align: center;
}

.playlist{
    margin-bottom: 6px;
}


.playlist span{
    font-weight: bold;
    color: white;
    font-size: 14px;
}

.create-playlist span{
    font-size: 14px;
}

.create-playlist i{
    color: #4D4D4D;
    font-size: 40px;
    vertical-align: middle;
}

.name-playlist nav ul li{
    color:#4D4D4D ;
    list-style: none;
    line-height: 35px;
    font-size: 14px;
}

.internal-inferior{
    margin-top: 255px;
}

.internal-inferior .user{
    color: #4D4D4D;
    padding-top: 5px;
}

.user img{
    width: 8%;
}

.user span{
    color: white;
}

.internal-inferior .download{
    color:#4D4D4D ;
    font-size: 12px;
    padding-bottom: 5px;
}

/**************************
    HIDDEN MENU VERTICAL 
 *************************/
 .hidden-menu {
    display: none;
    background-color: black;
    width: 50px;
    position: fixed;
    left: 0;
    bottom: 80px;
    height: 100%;
}
  
  .hidden-menu .small-logo {
    filter: invert(0);
    object-fit: cover;
    margin-top: 90px;
    margin-bottom: 10px;
    width: 70%;
    margin-left: 8px;
}
  
  .hidden-menu .smart-menu {
    width: 70%;
    margin-left: 8px;
}
  
  .hidden-menu .download {
    font-size: 20px;
    padding-bottom: 15px;
}
  
  .hidden-menu .user img{
    width: 60%;
    background-color: gray;
    border-radius: 50%;
}
/* ----- VERTICAL MENU HOVER----- */
.hidden-menu .small-logo img:hover{
    filter: invert(27%) sepia(99%) saturate(5354%) 
    hue-rotate(116deg) brightness(92%) contrast(108%);
}

.logo img:hover{
    filter: invert(27%) sepia(99%) saturate(5354%) 
    hue-rotate(116deg) brightness(92%) contrast(108%);
}

.home span:hover{
    cursor: pointer;
    color: white;
}

.home i:hover{
    border-left: 1px solid greenyellow;
}

.search span:hover{
    cursor: pointer;
    color: white;
}

.library span:hover{
    cursor: pointer;
    color: white;
}

.create-playlist span:hover{
    cursor: pointer;
    color: white;
}

.create-playlist i:hover{
    cursor: pointer;
    color: white;
}

.name-playlist li:hover{
    cursor: pointer;
    color: white;
    padding-left: 10px;
    border-left: 1px solid greenyellow;
}
/**************************
          MAIN 
 *************************/
h3{
    padding: 15px 0px 10px;
}

 .card{
    width: calc(100% / 7);
    height: 100%;
    margin-left: 20px;
    text-align: center;
    color: white;
 }

 .card span{
    color: #6E7075;
 }

 .card img{
    width: 100%;
 }

 .evidence-menu nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #6E7075;
 }

 .evidence-menu nav ul li{
    list-style: none;
    padding: 14px;
 }

 .created-for{
    margin-left: 20px;
    padding-bottom: 40px;
 }

 .created-for h2{
    padding-bottom: 6px;
 }

 .created-for span{
    color: #6E7075;
 }

 .recently{
    margin-left: 20px;
    padding-bottom: 40px;
 }

 .popular-artist{
    margin-left: 20px;
    padding-bottom: 40px;
 }
 .popular-artist h2{
    padding-bottom: 6px;
 }
 .popular-artist span{
    color: #6E7075;
 }

 .image-radius img{
    border-radius: 50%;
 }

 /* ----- MAIN HOVER ----- */
.evidence-menu li:hover{
    color: white;
    border-bottom:3px solid greenyellow ;
}


 /**************************
          FOOTER
 *************************/
h4{
    color: white;
    font-size: 14px;
}

 .played-cont{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
/* ----- FOOTER LEFT ----- */
 .foot-left{
    width: 25%;
 }

.foot-left .bottom-left{
    display: flex;
    align-items: center;
}

.foot-left .bottom-left img{
    width: 50px;
    height: 40px;
    padding-left: 10px;
 }

.title-song{
    padding-left: 10px;
    line-height: 13px;
}

.title-song span{
    font-size: 14px;
    color: #6E7075;
 }

.icon-left{
    color: #6E7075;
    padding-left: 40px;
}
/* ############################ */


/* ----- FOOTER CENTRAL ----- */
.foot-central{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.center-top{
    padding-bottom: 14px;
}

.center-top ul li{
    display: inline;
    font-style: none;
    color: white;
    padding: 10px;
    font-size: 22px;
}

.line-central{
    position: relative;
    height: 4px;
    width: 550px;
    background-color: #6E7075;
    border-radius: 30px;
    margin: 0 10px;
}

.line-central::before{
    position: absolute;
    z-index: 999;
    content: "";
    background-color: white;
    border-radius: 30px;
    height: 4px;
    width: 250px;
}
.center-down{
    display: flex;
    align-items: center;
}
.center-down span{
    color: white;
    font-size:12px ;
}



/* ----- FOOTER RIGHT ----- */
.foot-right{
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.icon-right{
    display: flex;
    color: #6E7075;
}
.icon-right i{
    padding-left: 15px;
}

.line-right{
    position: relative;
    height: 4px;
    width: 150px;
    border-radius: 30px;
    background-color: #6E7075;
    margin: 0 10px;
}

.line-right::before{
    position: absolute;
    z-index: 999;
    content: "";
    border-radius: 30px;
    background-color: white;
    height: 3px;
    width: 35px;
}
.icon-right .line-r{
    display: flex;
    align-items: center;
    padding-left: 5px;
}

 /**************************
     GENERAL RESPONSIVE
 *************************/
 @media screen and (max-width:1200px){
    .row{
        flex-wrap: wrap;
    }

    .row .card{
        width: calc(100% / 5);
    }
 }

 @media screen and (max-width:780px){
    .row .card{
        width: calc(100% / 3);
    }
 }

 @media screen and (max-width:650px) {
    .menu.menu-vertical {
      display: none;
    }
  
    .hidden-menu {
      display: block;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
    }
  
    header {
      left: 50px;
    }
  
    header .btn {
      margin-right: 60px;
    }
  }